[pdb2vall]

# empty values use defaults

# Rosetta
# rosetta_path must contain:
#    main/source/bin/fragment_picker.linuxgccrelease
#    main/source/bin/idealize_jd2.linuxgccrelease
#    main/source/bin/relax.linuxgccrelease
#    main/database
rosetta_path = /Users/YoshitakaM/Rosetta3.9/
fragment_picker_num_cpus = 1

# Blast. Requires new BLAST+ NCBI version
# (ftp://ftp.ncbi.nlm.nih.gov/blast/executables/blast+/2.7.1/)
psiblast_num_cpus = 1
psiblast = /usr/local/bin/psiblast
blastp = /usr/local/bin/blastp
makeblastdb = /usr/local/bin/makeblastdb

# NCBI non-redundant sequence database
# Install in database/ncbi/
# (ftp://ftp.ncbi.nih.gov/blast/db/FASTA/nr.gz)
# format for BLAST+ i.e. `makeblastdb -title nr -dbtype prot -in nr -max_file_sz 2GB`
nr = /Users/YoshitakaM/Desktop/workdir/database/blast/db.20180921/nr

# DEPTH program (http://mspc.bii.a-star.edu.sg/tankp/download.html)
# included in structure_profile_scripts/DEPTH-CLONE-2.8.7/DEPTH
# You may have to rebuild: cd structure_profile_scripts/DEPTH-CLONE-2.8.7;make;
depth = /Users/YoshitakaM/apps/depth-2.0/bin/DEPTH
depth_num_cpus = 1
